/* line 1, ../compass/sass/styles.scss */
header {
  padding: 10px;
}

/* line 4, ../compass/sass/styles.scss */
header h1 {
  color: blue;
}

/* line 8, ../compass/sass/styles.scss */
header p {
  font-size: 18px;
  color: #999696;
}

/* line 13, ../compass/sass/styles.scss */
header ul {
  display: block;
  line-height: 1.4;
}

/* line 17, ../compass/sass/styles.scss */
header ul li {
  margin: 5px;
  display: inline;
}

/* line 21, ../compass/sass/styles.scss */
header ul li a {
  text-decoration: none;
}

/* line 24, ../compass/sass/styles.scss */
header ul li a:hover {
  color: #eb0e0e;
}